In [162]:
import pandas as pd
import numpy as np

data_main = pd.read_csv('price_rent_department_in_hanoi.csv')
data_main.head()

,Đường/Phố,Xã/Phường/Thị Trấn,Quận/Huyện,Diện tích,Giá,Số tầng,Số phòng ngủ,Số toilet
0,Nguyễn Hoàng,Mỹ Đình 1,Nam Từ Liêm,55.0,32.0,7.0,NaN,NaN
1,Tô Ngọc Vân,Quảng An,Tây Hồ,200.0,160.0,NaN,NaN,NaN
2,Xóm Chùa,Quảng An,Tây Hồ,400.0,28.0,NaN,NaN,NaN
3,Võ Chí Công,Nghĩa Đô,Cầu Giấy,125.0,75.0,NaN,NaN,NaN
4,Mạc Thái Tông,Trung Hòa,Cầu Giấy,95.0,45.0,4.0,NaN,NaN

In [163]:
data_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1463 entries, 0 to 1462
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Đường/Phố           1463 non-null   object
 1   Xã/Phường/Thị Trấn  1463 non-null   object
 2   Quận/Huyện          1463 non-null   object
 3   Diện tích           1463 non-null   float64
 4   Giá                 1429 non-null   float64
 5   Số tầng             1218 non-null   float64
 6   Số phòng ngủ        898 non-null    float64
 7   Số toilet           812 non-null    float64
dtypes: float64(5), object(3)
memory usage: 91.6+ KB

In [164]:
for i in list(data_main.columns):
    if data_main[i].isnull().sum() >= 0:
        print(i, ': ', data_main[i].isnull().sum())

Đường/Phố :  0
Xã/Phường/Thị Trấn :  0
Quận/Huyện :  0
Diện tích :  0
Giá :  34
Số tầng :  245
Số phòng ngủ :  565
Số toilet :  651

In [165]:
print(data_main.nunique())

Đường/Phố             348
Xã/Phường/Thị Trấn    160
Quận/Huyện             18
Diện tích             127
Giá                   112
Số tầng                11
Số phòng ngủ           16
Số toilet              15
dtype: int64

In [166]:
data_mean=data_main
data_mean

,Đường/Phố,Xã/Phường/Thị Trấn,Quận/Huyện,Diện tích,Giá,Số tầng,Số phòng ngủ,Số toilet
0,Nguyễn Hoàng,Mỹ Đình 1,Nam Từ Liêm,55.0,32.0,7.0,NaN,NaN
1,Tô Ngọc Vân,Quảng An,Tây Hồ,200.0,160.0,NaN,NaN,NaN
2,Xóm Chùa,Quảng An,Tây Hồ,400.0,28.0,NaN,NaN,NaN
3,Võ Chí Công,Nghĩa Đô,Cầu Giấy,125.0,75.0,NaN,NaN,NaN
4,Mạc Thái Tông,Trung Hòa,Cầu Giấy,95.0,45.0,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...
1458,Quốc lộ 3,Mai Lâm,Đông Anh,80.0,5.0,3.0,2.0,2.0
1459,Lý Sơn,Ngọc Thụy,Long Biên,70.0,4.0,2.0,3.0,2.0
1460,Trần Quốc Toản,Hàng Trống,Hoàn Kiếm,12.0,3.0,2.0,NaN,NaN
1461,Đào Tấn,Ngọc Khánh,Ba Đình,80.0,22.0,NaN,3.0,NaN
1462,An Thắng,Biên Giang,Hà Đông,36.0,5.0,3.0,3.0,3.0

In [167]:
data_mean['Số phòng ngủ'] = data_mean['Số phòng ngủ'].replace(np.nan,data_mean['Số phòng ngủ'].mean())
data_mean

,Đường/Phố,Xã/Phường/Thị Trấn,Quận/Huyện,Diện tích,Giá,Số tầng,Số phòng ngủ,Số toilet
0,Nguyễn Hoàng,Mỹ Đình 1,Nam Từ Liêm,55.0,32.0,7.0,4.707127,NaN
1,Tô Ngọc Vân,Quảng An,Tây Hồ,200.0,160.0,NaN,4.707127,NaN
2,Xóm Chùa,Quảng An,Tây Hồ,400.0,28.0,NaN,4.707127,NaN
3,Võ Chí Công,Nghĩa Đô,Cầu Giấy,125.0,75.0,NaN,4.707127,NaN
4,Mạc Thái Tông,Trung Hòa,Cầu Giấy,95.0,45.0,4.0,4.707127,NaN
...,...,...,...,...,...,...,...,...
1458,Quốc lộ 3,Mai Lâm,Đông Anh,80.0,5.0,3.0,2.000000,2.0
1459,Lý Sơn,Ngọc Thụy,Long Biên,70.0,4.0,2.0,3.000000,2.0
1460,Trần Quốc Toản,Hàng Trống,Hoàn Kiếm,12.0,3.0,2.0,4.707127,NaN
1461,Đào Tấn,Ngọc Khánh,Ba Đình,80.0,22.0,NaN,3.000000,NaN
1462,An Thắng,Biên Giang,Hà Đông,36.0,5.0,3.0,3.000000,3.0

In [168]:
data_mean['Số toilet'] = data_mean['Số toilet'].replace(np.nan,data_mean['Số toilet'].mean())
data_mean

,Đường/Phố,Xã/Phường/Thị Trấn,Quận/Huyện,Diện tích,Giá,Số tầng,Số phòng ngủ,Số toilet
0,Nguyễn Hoàng,Mỹ Đình 1,Nam Từ Liêm,55.0,32.0,7.0,4.707127,4.119458
1,Tô Ngọc Vân,Quảng An,Tây Hồ,200.0,160.0,NaN,4.707127,4.119458
2,Xóm Chùa,Quảng An,Tây Hồ,400.0,28.0,NaN,4.707127,4.119458
3,Võ Chí Công,Nghĩa Đô,Cầu Giấy,125.0,75.0,NaN,4.707127,4.119458
4,Mạc Thái Tông,Trung Hòa,Cầu Giấy,95.0,45.0,4.0,4.707127,4.119458
...,...,...,...,...,...,...,...,...
1458,Quốc lộ 3,Mai Lâm,Đông Anh,80.0,5.0,3.0,2.000000,2.000000
1459,Lý Sơn,Ngọc Thụy,Long Biên,70.0,4.0,2.0,3.000000,2.000000
1460,Trần Quốc Toản,Hàng Trống,Hoàn Kiếm,12.0,3.0,2.0,4.707127,4.119458
1461,Đào Tấn,Ngọc Khánh,Ba Đình,80.0,22.0,NaN,3.000000,4.119458
1462,An Thắng,Biên Giang,Hà Đông,36.0,5.0,3.0,3.000000,3.000000

In [169]:
data_mean['Số tầng'] = data_mean['Số tầng'].replace(np.nan,data_mean['Số tầng'].mean())
data_mean

,Đường/Phố,Xã/Phường/Thị Trấn,Quận/Huyện,Diện tích,Giá,Số tầng,Số phòng ngủ,Số toilet
0,Nguyễn Hoàng,Mỹ Đình 1,Nam Từ Liêm,55.0,32.0,7.000000,4.707127,4.119458
1,Tô Ngọc Vân,Quảng An,Tây Hồ,200.0,160.0,4.545156,4.707127,4.119458
2,Xóm Chùa,Quảng An,Tây Hồ,400.0,28.0,4.545156,4.707127,4.119458
3,Võ Chí Công,Nghĩa Đô,Cầu Giấy,125.0,75.0,4.545156,4.707127,4.119458
4,Mạc Thái Tông,Trung Hòa,Cầu Giấy,95.0,45.0,4.000000,4.707127,4.119458
...,...,...,...,...,...,...,...,...
1458,Quốc lộ 3,Mai Lâm,Đông Anh,80.0,5.0,3.000000,2.000000,2.000000
1459,Lý Sơn,Ngọc Thụy,Long Biên,70.0,4.0,2.000000,3.000000,2.000000
1460,Trần Quốc Toản,Hàng Trống,Hoàn Kiếm,12.0,3.0,2.000000,4.707127,4.119458
1461,Đào Tấn,Ngọc Khánh,Ba Đình,80.0,22.0,4.545156,3.000000,4.119458
1462,An Thắng,Biên Giang,Hà Đông,36.0,5.0,3.000000,3.000000,3.000000

In [170]:
data_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1463 entries, 0 to 1462
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Đường/Phố           1463 non-null   object
 1   Xã/Phường/Thị Trấn  1463 non-null   object
 2   Quận/Huyện          1463 non-null   object
 3   Diện tích           1463 non-null   float64
 4   Giá                 1429 non-null   float64
 5   Số tầng             1463 non-null   float64
 6   Số phòng ngủ        1463 non-null   float64
 7   Số toilet           1463 non-null   float64
dtypes: float64(5), object(3)
memory usage: 91.6+ KB

In [171]:
data = data_mean.dropna(subset=['Giá'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1429 entries, 0 to 1462
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Đường/Phố           1429 non-null   object
 1   Xã/Phường/Thị Trấn  1429 non-null   object
 2   Quận/Huyện          1429 non-null   object
 3   Diện tích           1429 non-null   float64
 4   Giá                 1429 non-null   float64
 5   Số tầng             1429 non-null   float64
 6   Số phòng ngủ        1429 non-null   float64
 7   Số toilet           1429 non-null   float64
dtypes: float64(5), object(3)
memory usage: 100.5+ KB

In [172]:
for col in data.columns:
    print("\nTần xuất xuất hiện trong cột %s"%col)
    print (data[col].value_counts())

Tần xuất xuất hiện trong cột Đường/Phố
Đường/Phố
Lê Trọng Tấn      43
Tố Hữu            40
Trung Kính        33
Hoàng Cầu         31
Đội Cấn           27
                  ..
Dã Tượng           1
Hàng Bồ            1
Điện Biên Phủ      1
32                 1
Trần Quốc Toản     1
Name: count, Length: 344, dtype: int64

Tần xuất xuất hiện trong cột Xã/Phường/Thị Trấn
Xã/Phường/Thị Trấn
Trung Hòa          128
Ô Chợ Dừa         54
Yên Hòa             41
Dương Nội           40
Quảng An            40
                  ...
Trúc Bạch          1
Quốc Tử Giám      1
Đại Mạch             1
Hàng Bồ            1
Hàng Trống         1
Name: count, Length: 158, dtype: int64

Tần xuất xuất hiện trong cột Quận/Huyện
Quận/Huyện
Cầu Giấy        290
Đống Đa         178
Hà Đông         141
Nam Từ Liêm     133
Ba Đình         128
Tây Hồ          125
Thanh Xuân      103
Hoàng Mai        91
Long Biên        80
Hai Bà Trưng     65
Hoàn Kiếm        36
Bắc Từ Liêm      29
Thanh Trì        15
Đông Anh          5
Hoài Đức          5
Gia Lâm           2
Mê Linh           2
Chương Mỹ         1
Name: count, dtype: int64

Tần xuất xuất hiện trong cột Diện tích
Diện tích
50.0     154
80.0     112
60.0      92
70.0      89
100.0     72
        ...
24.0       1
16.0       1
124.0      1
22.0       1
12.0       1
Name: count, Length: 125, dtype: int64

Tần xuất xuất hiện trong cột Giá
Giá
15.0     97
25.0     72
30.0     71
20.0     70
18.0     67
         ..
123.0     1
62.0      1
68.0      1
470.0     1
15.5      1
Name: count, Length: 112, dtype: int64

Tần xuất xuất hiện trong cột Số tầng
Số tầng
4.000000     386
5.000000     367
4.545156     236
6.000000     135
3.000000     135
7.000000      70
2.000000      43
1.000000      30
8.000000      22
9.000000       2
10.000000      2
11.000000      1
Name: count, dtype: int64

Tần xuất xuất hiện trong cột Số phòng ngủ
Số phòng ngủ
4.707127     553
4.000000     218
3.000000     162
5.000000     152
6.000000     135
2.000000      66
7.000000      66
8.000000      33
1.000000      20
9.000000       9
10.000000      8
18.000000      2
12.000000      1
30.000000      1
48.000000      1
13.000000      1
26.000000      1
Name: count, dtype: int64

Tần xuất xuất hiện trong cột Số toilet
Số toilet
4.119458     636
4.000000     228
3.000000     180
5.000000     163
2.000000      72
6.000000      59
1.000000      42
7.000000      31
8.000000       9
20.000000      2
9.000000       2
10.000000      1
12.000000      1
11.000000      1
60.000000      1
26.000000      1
Name: count, dtype: int64

In [173]:
label_encoders={}
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in data.columns:
    if data[i].dtype=="object":
        label_encoders[i] = LabelEncoder()
        data[i] = label_encoders[i].fit_transform(data[i])

C:\Users\nguye\AppData\Local\Temp\ipykernel_10044\4113397999.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = label_encoders[i].fit_transform(data[i])
C:\Users\nguye\AppData\Local\Temp\ipykernel_10044\4113397999.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = label_encoders[i].fit_transform(data[i])
C:\Users\nguye\AppData\Local\Temp\ipykernel_10044\4113397999.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = label_encoders[i].fit_transform(data[i])

In [174]:
print(data['Đường/Phố'].value_counts())

Đường/Phố
95     43
273    40
224    33
51     31
341    27
       ..
38      1
65      1
317     1
4       1
251     1
Name: count, Length: 344, dtype: int64