In [41]:
import pandas as pd
import numpy as np

data_main = pd.read_csv('price_rent_department_in_hanoi.csv')
data_main.head()

,Đường/Phố,Xã/Phường/Thị Trấn,Quận/Huyện,Diện tích,Giá,Số tầng,Số phòng ngủ,Số toilet
0,Nguyễn Hoàng,Mỹ Đình 1,Nam Từ Liêm,55.0,32.0,7.0,NaN,NaN
1,Tô Ngọc Vân,Quảng An,Tây Hồ,200.0,160.0,NaN,NaN,NaN
2,Xóm Chùa,Quảng An,Tây Hồ,400.0,28.0,NaN,NaN,NaN
3,Võ Chí Công,Nghĩa Đô,Cầu Giấy,125.0,75.0,NaN,NaN,NaN
4,Mạc Thái Tông,Trung Hòa,Cầu Giấy,95.0,45.0,4.0,NaN,NaN

In [42]:
data_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1463 entries, 0 to 1462
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Đường/Phố           1463 non-null   object
 1   Xã/Phường/Thị Trấn  1463 non-null   object
 2   Quận/Huyện          1463 non-null   object
 3   Diện tích           1463 non-null   float64
 4   Giá                 1429 non-null   float64
 5   Số tầng             1218 non-null   float64
 6   Số phòng ngủ        898 non-null    float64
 7   Số toilet           812 non-null    float64
dtypes: float64(5), object(3)
memory usage: 91.6+ KB

In [43]:
for i in list(data_main.columns):
    if data_main[i].isnull().sum() >= 0:
        print(i, ': ', data_main[i].isnull().sum())

Đường/Phố :  0
Xã/Phường/Thị Trấn :  0
Quận/Huyện :  0
Diện tích :  0
Giá :  34
Số tầng :  245
Số phòng ngủ :  565
Số toilet :  651

In [44]:
print(data_main.nunique())

Đường/Phố             348
Xã/Phường/Thị Trấn    160
Quận/Huyện             18
Diện tích             127
Giá                   112
Số tầng                11
Số phòng ngủ           16
Số toilet              15
dtype: int64

In [45]:
data_mean=data_main
data_mean

,Đường/Phố,Xã/Phường/Thị Trấn,Quận/Huyện,Diện tích,Giá,Số tầng,Số phòng ngủ,Số toilet
0,Nguyễn Hoàng,Mỹ Đình 1,Nam Từ Liêm,55.0,32.0,7.0,NaN,NaN
1,Tô Ngọc Vân,Quảng An,Tây Hồ,200.0,160.0,NaN,NaN,NaN
2,Xóm Chùa,Quảng An,Tây Hồ,400.0,28.0,NaN,NaN,NaN
3,Võ Chí Công,Nghĩa Đô,Cầu Giấy,125.0,75.0,NaN,NaN,NaN
4,Mạc Thái Tông,Trung Hòa,Cầu Giấy,95.0,45.0,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...
1458,Quốc lộ 3,Mai Lâm,Đông Anh,80.0,5.0,3.0,2.0,2.0
1459,Lý Sơn,Ngọc Thụy,Long Biên,70.0,4.0,2.0,3.0,2.0
1460,Trần Quốc Toản,Hàng Trống,Hoàn Kiếm,12.0,3.0,2.0,NaN,NaN
1461,Đào Tấn,Ngọc Khánh,Ba Đình,80.0,22.0,NaN,3.0,NaN
1462,An Thắng,Biên Giang,Hà Đông,36.0,5.0,3.0,3.0,3.0

In [46]:
data_mean['Số phòng ngủ'] = data_mean['Số phòng ngủ'].replace(np.nan,data_mean['Số phòng ngủ'].mean())
data_mean

,Đường/Phố,Xã/Phường/Thị Trấn,Quận/Huyện,Diện tích,Giá,Số tầng,Số phòng ngủ,Số toilet
0,Nguyễn Hoàng,Mỹ Đình 1,Nam Từ Liêm,55.0,32.0,7.0,4.707127,NaN
1,Tô Ngọc Vân,Quảng An,Tây Hồ,200.0,160.0,NaN,4.707127,NaN
2,Xóm Chùa,Quảng An,Tây Hồ,400.0,28.0,NaN,4.707127,NaN
3,Võ Chí Công,Nghĩa Đô,Cầu Giấy,125.0,75.0,NaN,4.707127,NaN
4,Mạc Thái Tông,Trung Hòa,Cầu Giấy,95.0,45.0,4.0,4.707127,NaN
...,...,...,...,...,...,...,...,...
1458,Quốc lộ 3,Mai Lâm,Đông Anh,80.0,5.0,3.0,2.000000,2.0
1459,Lý Sơn,Ngọc Thụy,Long Biên,70.0,4.0,2.0,3.000000,2.0
1460,Trần Quốc Toản,Hàng Trống,Hoàn Kiếm,12.0,3.0,2.0,4.707127,NaN
1461,Đào Tấn,Ngọc Khánh,Ba Đình,80.0,22.0,NaN,3.000000,NaN
1462,An Thắng,Biên Giang,Hà Đông,36.0,5.0,3.0,3.000000,3.0

In [47]:
data_mean['Số toilet'] = data_mean['Số toilet'].replace(np.nan,data_mean['Số toilet'].mean())
data_mean

,Đường/Phố,Xã/Phường/Thị Trấn,Quận/Huyện,Diện tích,Giá,Số tầng,Số phòng ngủ,Số toilet
0,Nguyễn Hoàng,Mỹ Đình 1,Nam Từ Liêm,55.0,32.0,7.0,4.707127,4.119458
1,Tô Ngọc Vân,Quảng An,Tây Hồ,200.0,160.0,NaN,4.707127,4.119458
2,Xóm Chùa,Quảng An,Tây Hồ,400.0,28.0,NaN,4.707127,4.119458
3,Võ Chí Công,Nghĩa Đô,Cầu Giấy,125.0,75.0,NaN,4.707127,4.119458
4,Mạc Thái Tông,Trung Hòa,Cầu Giấy,95.0,45.0,4.0,4.707127,4.119458
...,...,...,...,...,...,...,...,...
1458,Quốc lộ 3,Mai Lâm,Đông Anh,80.0,5.0,3.0,2.000000,2.000000
1459,Lý Sơn,Ngọc Thụy,Long Biên,70.0,4.0,2.0,3.000000,2.000000
1460,Trần Quốc Toản,Hàng Trống,Hoàn Kiếm,12.0,3.0,2.0,4.707127,4.119458
1461,Đào Tấn,Ngọc Khánh,Ba Đình,80.0,22.0,NaN,3.000000,4.119458
1462,An Thắng,Biên Giang,Hà Đông,36.0,5.0,3.0,3.000000,3.000000

In [48]:
data_mean['Số tầng'] = data_mean['Số tầng'].replace(np.nan,data_mean['Số tầng'].mean())
data_mean

,Đường/Phố,Xã/Phường/Thị Trấn,Quận/Huyện,Diện tích,Giá,Số tầng,Số phòng ngủ,Số toilet
0,Nguyễn Hoàng,Mỹ Đình 1,Nam Từ Liêm,55.0,32.0,7.000000,4.707127,4.119458
1,Tô Ngọc Vân,Quảng An,Tây Hồ,200.0,160.0,4.545156,4.707127,4.119458
2,Xóm Chùa,Quảng An,Tây Hồ,400.0,28.0,4.545156,4.707127,4.119458
3,Võ Chí Công,Nghĩa Đô,Cầu Giấy,125.0,75.0,4.545156,4.707127,4.119458
4,Mạc Thái Tông,Trung Hòa,Cầu Giấy,95.0,45.0,4.000000,4.707127,4.119458
...,...,...,...,...,...,...,...,...
1458,Quốc lộ 3,Mai Lâm,Đông Anh,80.0,5.0,3.000000,2.000000,2.000000
1459,Lý Sơn,Ngọc Thụy,Long Biên,70.0,4.0,2.000000,3.000000,2.000000
1460,Trần Quốc Toản,Hàng Trống,Hoàn Kiếm,12.0,3.0,2.000000,4.707127,4.119458
1461,Đào Tấn,Ngọc Khánh,Ba Đình,80.0,22.0,4.545156,3.000000,4.119458
1462,An Thắng,Biên Giang,Hà Đông,36.0,5.0,3.000000,3.000000,3.000000

In [49]:
data_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1463 entries, 0 to 1462
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Đường/Phố           1463 non-null   object
 1   Xã/Phường/Thị Trấn  1463 non-null   object
 2   Quận/Huyện          1463 non-null   object
 3   Diện tích           1463 non-null   float64
 4   Giá                 1429 non-null   float64
 5   Số tầng             1463 non-null   float64
 6   Số phòng ngủ        1463 non-null   float64
 7   Số toilet           1463 non-null   float64
dtypes: float64(5), object(3)
memory usage: 91.6+ KB

In [50]:
data = data_mean.dropna(subset=['Giá'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1429 entries, 0 to 1462
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Đường/Phố           1429 non-null   object
 1   Xã/Phường/Thị Trấn  1429 non-null   object
 2   Quận/Huyện          1429 non-null   object
 3   Diện tích           1429 non-null   float64
 4   Giá                 1429 non-null   float64
 5   Số tầng             1429 non-null   float64
 6   Số phòng ngủ        1429 non-null   float64
 7   Số toilet           1429 non-null   float64
dtypes: float64(5), object(3)
memory usage: 100.5+ KB

In [53]:
label_encoders={}
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for i in data.columns:
    if data[i].dtype=="object":
        label_encoders[i] = LabelEncoder()
        data[i] = label_encoders[i].fit_transform(data[i])
    
    print(i)

Đường/Phố
Xã/Phường/Thị Trấn
Quận/Huyện
Diện tích
Giá
Số tầng
Số phòng ngủ
Số toilet

C:\Users\nguye\AppData\Local\Temp\ipykernel_4804\1392549414.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = label_encoders[i].fit_transform(data[i])
C:\Users\nguye\AppData\Local\Temp\ipykernel_4804\1392549414.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = label_encoders[i].fit_transform(data[i])
C:\Users\nguye\AppData\Local\Temp\ipykernel_4804\1392549414.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = label_encoders[i].fit_transform(data[i])

In [54]:
data

,Đường/Phố,Xã/Phường/Thị Trấn,Quận/Huyện,Diện tích,Giá,Số tầng,Số phòng ngủ,Số toilet
0,134,57,12,55.0,32.0,7.000000,4.707127,4.119458
1,269,94,15,200.0,160.0,4.545156,4.707127,4.119458
2,308,94,15,400.0,28.0,4.545156,4.707127,4.119458
3,279,62,3,125.0,75.0,4.545156,4.707127,4.119458
4,113,111,3,95.0,45.0,4.000000,4.707127,4.119458
...,...,...,...,...,...,...,...,...
1458,204,52,16,80.0,5.0,3.000000,2.000000,2.000000
1459,100,68,10,70.0,4.0,2.000000,3.000000,2.000000
1460,251,31,7,12.0,3.0,2.000000,4.707127,4.119458
1461,319,64,0,80.0,22.0,4.545156,3.000000,4.119458
1462,9,5,9,36.0,5.0,3.000000,3.000000,3.000000